---
layout: default
---

<div id="logo">
    <a href="http://www.asheavenue.com">
        <img src="{{ site.baseurl}}/img/logo.png" />
    </a>
</div>

<div id="top">
    <h1 class="title">Kilt</h1>
    <div class="subtitle">
        A drop-in, easy-to-configure, all-purpose content management system aimed at rapid development.
    </div>
</div>

<div id="callout">
    <div>
        $ gem 'kilt-cms' 
    </div>
</div>

<div id="documentation" class="section">

    <div class="menu">
        <div id="spy-target" class="wrap">
            <ul class="left-menu nav">
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#installation">Installation</a></li>
                <li><a href="#usage">Usage</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">

        <div class="section" id="about">
          {% capture about %}{% include about.md %}{% endcapture %}
          {{ about | markdownify }}
        </div>

        <div class="section" id="features">
          {% capture features %}{% include features.md %}{% endcapture %}
          {{ features | markdownify }}
        </div>

        <div class="section" id="installation">
          {% capture installation %}{% include installation.md %}{% endcapture %}
          {{ installation | markdownify }}
        </div>

        <div class="section" id="usage">
          {% capture usage %}{% include usage.md %}{% endcapture %}
          {{ usage | markdownify }}
        </div>

    </div>

    <div class="clr"></div>
</div>
