<h2>Features</h2>

<h3>Fast content administration</h3>
<br />
<p>
  After you install Kilt, you have a fully-functioning CMS.  Create a schema for each bit of content, and Kilt will create a page to manage it. <br />
</p>

<h3>No migrations</h3>
<br />
<p>
Kilt stores all of its data in one table, with each record as JSON. Pure, raw JSON. You ask for data from the CMS, you get JSON back. <br />
<br />
If you want to change the shape of your data, just edit your schema in "config/kilt/config.yml". Your admin screens will adjust.
</p>

<h3>Your Rails app remains a Rails app</h3>
<p>
<br />
Kilt gives you a CMS, and that's it.  It doesn't turn your Rails app into a "Kilt app" like other CMS libraries.
</p>

<h3>Kilt is as easy to remove as it is to setup</h3>
<p>
<br />
Your data is pure JSON, your Kilt objects are defined in one schema file, and Kilt occupies very little of your codebase. 
You are in a great position to move to another system, should you choose. <br />
<br />
<i>This makes Kilt an idea prototyping system as well.</i>
</p>
